body{
    font-size: 10px;
}
h2{
font-family: 'Trade Winds';
font-size: 5em;
}
p{
    font-family: 'Lacquer' ;
    font-size: 2em;
}
span{
font-size: 2em;
}


/* font weight */

h2{
    font-weight: lighter;
}
 /* line height */

 p{
     line-height: 1.5;
 }

 /* text allign */
 h2{
     text-align: right;
 }

 /* text  decorator */

 span{
     text-decoration: line-through;
 }

 h2{
     text-decoration: underline;
 }

 h6{
    font-size: 20px;
 }